.disp-type {
  position: fixed;
  top: 0;
  right: 0;
  padding: 4px 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  z-index: 1;
}

/* https://www.google.com/design/spec/style/color.html */
.disp-type.collection {
  background-color: #388e3c;
}
.disp-type.syncbase {
  background-color: #673ab7;
}
